<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buscaminas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>


<div clas="container-fluid">
    <p class="h3">Encuentre todo el cobre para ganar el juego</p>

    <label>Coordenada a explotar de la mina:</label>
    <input type="text" name="coordenada">
    <button class="btn btn-primary" type="submit" href="/minar">Explotar</button>


    
</div>


</body>
</html>